/*reset para tener un control de la  web*/
* {
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

header {
    height: 10%;
    display: flex;
    /* este flex es para colocar  el contenedor del menu [][][][] de esta forma en la pagina web*/
    padding: 0 50px;
    justify-content: space-between;
    /*para que queden separados los elelmentos del header []   []   []   []*/
    align-items: center;
    /*esto es para que queden centrados los elemento del header en el contenedor */
    border: 0.2px solid orange;
    background: rgb(40, 41, 42);
}


/*titulo 1*/


.titulo1 {
    text-transform: uppercase;
    color: antiquewhite;
    padding-right: 0%;
    margin-left: 0%;
    text-align: left;

}



nav a {
    color: white;
    margin: 2px;
    text-decoration: none;
    padding: 3px;

}

nav a:hover {
    color: rgb(241, 205, 139);
    transition: color 2s;
}

.carrito {
    color: white;
}

.carrito:hover {
    color: rgb(241, 205, 139);
    ;
}


/* reponsive de header menu principal*/


@media(max-width:768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;


    }
}

/*reponsive logo */

@media(max-width:768px) {
    .logo {
        width: 25%;
        padding-top: 10%;
    }
}




/*carrusel*/


.carousel-inner img {
    height: 652px;
    width: auto;

}


.claridad{
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(0,0,0,0)) ;
    width: 100%;
    margin: 0%;
    padding: 10px;
    
   
    


}

/*video */


video {
    width: 100%;
    height: 90%;
}

.video-container {
    margin-bottom: 3%;
}

@media(max-width:768px) {
    .video-container {
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;
    }
}


/* formulario imagen*/


.container {
    background-color: #fff;

    border-radius: 5px;

    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;

    margin: auto;



}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(244, 234, 216);
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #585e64;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.unionImgForm {
    display: flex;
    align-items: center;


}


/*imagen descuento*/


.imagen-con-texto {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2% 0% 2% 1%;

}

.imagen-con-texto img {
    width: 80%;
    height: 70%;
}

.texto-sobre-imagen {
    position: absolute;

    color: white;

}



/*fooder*/



.contenido {
    display: flex;
    padding-right: 10%;
    color: rgb(200, 175, 131);
    background: rgb(40, 41, 42);
    margin-top: 10%;
}

.contenido li a {
    text-decoration: none;
    color: white;
    text-align: left;

}


.contenido li a:hover {
    color: orange;
}

.foo {

    width: 100%;
    text-align: left;
}


.derechos {
    color: white;
    background: rgb(40, 41, 42);
    text-align: center;
    padding: 20px;
}



/*reponsive imagen dedscuento */



@media(max-width:768px) {
    .unionImgForm {
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;

    }

    .texto-sobre-imagen {
        width: 30%;
    }

    .imagen-con-texto {
        padding: 7% 0 7% 10%;
    }

    .t1 {
        height: auto;
        margin: auto;
        font-size: 5%;
    }


}


/*reponsive del formulario*/


@media(max-width:768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;
    }
}


/*reponsive carrusel*/


@media(max-width:768px) {
    .carousel-inner img {
        height: auto;
        width: auto;


    }
}


/*reponsive fooder*/


@media(max-width:768px) {
    .contenido {
        flex-direction: column;
        display: flex;
        padding-left: 35%;
    }

    h4 {
        padding-bottom: 0;
    }
}

@media(max-width:768px) {
    .contenido h6 {
        color: rgb(200, 175, 131);


    }
}