/*reset para tener un control de la  web*/
*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

header{
    height: 10%;
    display: flex; /* este flex es para colocar  el contenedor del menu [][][][] de esta forma en la pagina web*/
    padding: 0 50px;
    justify-content: space-between; /*para que queden separados los elelmentos del header []   []   []   []*/
    align-items: center; /*esto es para que queden centrados los elemento del header en el contenedor */
    border: 0.2px solid orange;
    background: rgb(40, 41, 42);
}

.titulo1{
text-transform: uppercase;
color: antiquewhite;
padding-right: 0% ;
margin-left: 0%;
text-align: left; 
    
}



nav a{
    color: white;
    margin: 2px;
    text-decoration: none;
    padding: 3px;
    
}

nav a:hover{
    color: rgb(241, 205, 139);
}

.carrito{
    color: white;
}

.carrito:hover{
    color:rgb(241, 205, 139); ;
}

@media(max-width:768px){
    header{
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;
        
       
    }    
}

/*reponsive logo */ 

@media(max-width:768px){
    .logo{
        width: 25%;
        padding-top: 10%;
    }
}



/*----------------*/


.subtituHombre{
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 7%;
    color: rgb(200, 175, 131);

}


/* codigo para las imagenes catalogo */


.ropaHombre{
    display: flex;
    border: 1px solid orange ;
}

.hombre1{
    border: 1px solid orange;
    width: 100%;

}

.hombre1 p a{
    text-decoration: none;
}

.hombre1 p a:hover{
    color: orange;
}



.panta{
    margin-top: 15%;
    display: flex;
}


.licra{
    display: flex;
    margin-top: 15%;
}

@media(max-width:768px){
    .ropaHombre{flex-direction: column;} 
    .panta{flex-direction: column;}
    .licra{flex-direction: column;}
}


/*fooder*/


.contenido{
    display: flex;
    padding-right: 10%;
    color: rgb(200, 175, 131);
    background: rgb(40, 41, 42);  
    margin-top: 10%; 
}

.contenido li a{
    text-decoration: none;
    color: white;
  
}

.contenido li a:hover{
    color: orange;
}

.foo{
    
    width: 100%;
    text-align: left;
}

.derechos{
    color: white;
    background: rgb(40, 41, 42); 
    text-align: center;
    padding: 20px;
}

@media(max-width:768px){
    .contenido{
        flex-direction: column;
        display: flex;
        padding-left: 35%;
    }
    h4{
        padding-top: 5%;
    }
}






